pillow==3.4.2
ofxparse==0.16
suds_requests
unidecode
faker==0.7.3
-e git+https://github.com/multidadosti-erp/PyTrustNFe.git@develop#egg=pytrustnfe
-e git+https://github.com/multidadosti-erp/python-cnab.git@develop#egg=python-cnab
-e git+https://github.com/multidadosti-erp/python-boleto.git@develop#egg=python-boleto
http://xmlsoft.org/sources/python/libxml2-python-2.6.21.tar.gz
https://github.com/odoo-brazil/pyxmlsec/archive/master.zip
